/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* BODY */
body {
    background: #f5f5f5;
    color: #222;
}

/* HEADER + NAVBAR */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

/* SECTIONS */
section {
    padding: 120px 60px 70px;
}

/* HOME SECTION */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 120px 60px;
}

.home-text h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.home-text h1 span {
    color: #007bff;
    font-weight: 700;
}

.home-text p {
    margin-bottom: 10px;
    color: #444;
}

.home-text h3 {
    font-weight: 400;
    color: #1b0d48;
}

.home-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #007bff;
    object-fit: cover;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
     position: fixed;
    top: 90px;
    right: 40px;
    z-index: 20;

}
/* TITLES */
.title {
    text-align: center;
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px;
}

/* ABOUT SECTION */
.about p {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
    font-size: 17px;
    color: #333;
}

/* SKILLS SECTION */
.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skills ul li {
    padding: 10px 22px;
    background: white;
    border-radius: 30px;
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: 500;
    transition: 0.3s;
}

.skills ul li:hover {
    background: #007bff;
    color: white;
    cursor: pointer;
}

/* PROJECTS SECTION */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 25px;
    margin-top: 20px;
}

.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-left: 5px solid #007bff;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #0056b3;
}

/* CONTACT SECTION */
.contact p {
    text-align: center;
    color: #444;
}

/* SOCIAL BUTTONS */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.social-btn {
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.linkedin {
    background: #4227db;
}

.github {
    background: #4227db;
}

/* CONTACT FORM */
form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #007bff;
    background: white;
    font-size: 16px;
    color: #222;
}

form button {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

form button:hover {
    background: #0056b3;
}

/* FOOTER */
footer {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    color: #1b0d48;
    border-top: 2px solid #546a88;
}
